# Using SURFsara IoT platform for Sensemakers - demo #1

This notebook shows how to:
- access files in the shared volume
- load raw data JSON files into a Pandas DataFrame
- perform simple data manipulations
- produce plots

## Accessing files in the shared volume

The individual messages processed by the automated data pipeline are appended to files for a given project/device and a calendar date. The naming convention for the directories/files is `/data/app_id/dev_id-YYYY-MM-DD.json`. The shared volume is accessible from Jupyter notebooks in read-only mode.

The files in the shared volume can be listed in the following way:

In [3]:
!ls /home/shared/WON/SMA-A42924*

/home/shared/WON/SMA-A42924-2019-09-17.json
/home/shared/WON/SMA-A42924-2019-09-18.json
/home/shared/WON/SMA-A42924-2019-09-19.json
/home/shared/WON/SMA-A42924-2019-09-20.json
/home/shared/WON/SMA-A42924-2019-09-21.json
/home/shared/WON/SMA-A42924-2019-09-22.json
/home/shared/WON/SMA-A42924-2019-09-23.json
/home/shared/WON/SMA-A42924-2019-09-24.json
/home/shared/WON/SMA-A42924-2019-10-01.json
/home/shared/WON/SMA-A42924-2019-10-04.json
/home/shared/WON/SMA-A42924-2019-10-05.json
/home/shared/WON/SMA-A42924-2019-10-06.json
/home/shared/WON/SMA-A42924-2019-10-07.json
/home/shared/WON/SMA-A42924-2019-10-08.json
/home/shared/WON/SMA-A42924-2019-10-09.json

The files contain raw messages in the JSON format line-by-line.

In [33]:
!head /home/shared/WON/SMA-A42924-2019-10-09.json

{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 13}, "time": 1570579212418}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 13}, "time": 1570579243368}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 13}, "time": 1570579274070}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 13}, "time": 1570579304818}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 13}, "time": 1570579335819}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 12}, "time": 1570579366433}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 12}, "time": 1570579397294}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 72, "temp": 12}, "time": 1570579428098}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 71, "temp": 12}, "time": 1570579458919}
{"app_id": "WON", "dev_id": "SMA-A42924", "payload_fields": {"hum": 71, "temp": 12}, "time": 1570579489844}

## Load raw data JSON files into a Pandas DataFrame

We choose to use Pandas DataFrame to analyse data. First, we need to install corresponding Python package.

In [5]:
!pip install --upgrade pip
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/73/9b/52e228545d14f14bb2a1622e225f38463c8726645165e1cb7dde95bfe6d4/pandas-0.25.1-cp36-cp36m-manylinux1_x86_64.whl (10.5MB)
    100% |████████████████████████████████| 10.5MB 31kB/s
Collecting numpy>=1.13.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e5/e6/c3fdc53aed9fa19d6ff3abf97dfad768ae3afce1b7431f7500000816bda5/numpy-1.17.2-cp36-cp36m-manylinux1_x86_64.whl (20.4MB)
    100% |████████████████████████████████| 20.4MB 16kB/s
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
    100% |████████████████████████████████| 512kB 581kB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.17.2 pandas-0.25.1 pytz-2019.3
You are using pip version 9.0.3, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

A file from the shared volume can be loaded like this with a single command.

In [25]:
import pandas as pd

# Load a single JSON file into a Pandas DataFrame.
df = pd.read_json('/home/shared/WON/SMA-A42924-2019-10-09.json', lines=True)

# Show the datafame.
df

    app_id      dev_id           payload_fields           time
0      WON  SMA-A42924  {'hum': 72, 'temp': 13}  1570579212418
1      WON  SMA-A42924  {'hum': 72, 'temp': 13}  1570579243368
2      WON  SMA-A42924  {'hum': 72, 'temp': 13}  1570579274070
3      WON  SMA-A42924  {'hum': 72, 'temp': 13}  1570579304818
4      WON  SMA-A42924  {'hum': 72, 'temp': 13}  1570579335819
..     ...         ...                      ...            ...
991    WON  SMA-A42924  {'hum': 78, 'temp': 12}  1570609743505
992    WON  SMA-A42924  {'hum': 78, 'temp': 12}  1570609774280
993    WON  SMA-A42924  {'hum': 78, 'temp': 12}  1570609805080
994    WON  SMA-A42924  {'hum': 78, 'temp': 12}  1570609836080
995    WON  SMA-A42924  {'hum': 78, 'temp': 12}  1570609866635

[996 rows x 4 columns]

Multiple files can be loaded like this:

In [26]:
import glob

# List all files for project WON and device SMA-A42924.
files = glob.glob('/home/shared/WON/SMA-A42924*')

# Define an empty dataframe.
df = pd.DataFrame()

# Loop over all files and load them to the dataframe.
for file in files:
    tmp = pd.read_json(file, lines=True)
    df = df.append(tmp, ignore_index=True)
    
# Show the dataframe.
df

      app_id      dev_id           payload_fields           time
0        WON  SMA-A42924  {'hum': 44, 'temp': 32}  1568736882712
1        WON  SMA-A42924  {'hum': 44, 'temp': 32}  1568736890062
2        WON  SMA-A42924   {'hum': 99, 'temp': 5}  1568739996633
3        WON  SMA-A42924  {'hum': 52, 'temp': 25}  1568741819847
4        WON  SMA-A42924  {'hum': 52, 'temp': 25}  1568741851198
...      ...         ...                      ...            ...
25471    WON  SMA-A42924  {'hum': 95, 'temp': 11}  1570492671406
25472    WON  SMA-A42924  {'hum': 95, 'temp': 11}  1570492702231
25473    WON  SMA-A42924  {'hum': 95, 'temp': 11}  1570492733183
25474    WON  SMA-A42924  {'hum': 95, 'temp': 11}  1570492763781
25475    WON  SMA-A42924  {'hum': 95, 'temp': 11}  1570492794807

[25476 rows x 4 columns]

The following commands may come handy for getting basic information about the dataframe.

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25476 entries, 0 to 25475
Data columns (total 4 columns):
app_id            25476 non-null object
dev_id            25476 non-null object
payload_fields    25476 non-null object
time              25476 non-null int64
dtypes: int64(1), object(3)
memory usage: 796.2+ KB

In [31]:
# Show the first few lines of the dataframe.
df.head()

  app_id      dev_id           payload_fields           time
0    WON  SMA-A42924  {'hum': 44, 'temp': 32}  1568736882712
1    WON  SMA-A42924  {'hum': 44, 'temp': 32}  1568736890062
2    WON  SMA-A42924   {'hum': 99, 'temp': 5}  1568739996633
3    WON  SMA-A42924  {'hum': 52, 'temp': 25}  1568741819847
4    WON  SMA-A42924  {'hum': 52, 'temp': 25}  1568741851198

In [30]:
# Show the types of the columns.
df.dtypes

app_id            object
dev_id            object
payload_fields    object
time               int64
dtype: object

## Simple data manipulations

The dataframe we have loaded from the files in the cells above is not handy for data analytics yet. The most important values - the sensor measurements - are not easily accessible because they are all stored in a single column `payload_fields` as a dictionarly of key-value pairs. Therefore, we will reformat the dataframe such that every sensor measurement gets its own column.

In [34]:
# Extract payload_fields as individual cloumns.
payload_fields = df['payload_fields'].apply(pd.Series)

# Add the new columns to the dataframe.
df = df.join(payload_fields)

# Remove the original column.
df = df.drop('payload_fields', axis=1)

# Show the dataframe.
df

      app_id      dev_id           time   hum  temp  fail
0        WON  SMA-A42924  1568736882712  44.0  32.0   NaN
1        WON  SMA-A42924  1568736890062  44.0  32.0   NaN
2        WON  SMA-A42924  1568739996633  99.0   5.0   NaN
3        WON  SMA-A42924  1568741819847  52.0  25.0   NaN
4        WON  SMA-A42924  1568741851198  52.0  25.0   NaN
...      ...         ...            ...   ...   ...   ...
25471    WON  SMA-A42924  1570492671406  95.0  11.0   NaN
25472    WON  SMA-A42924  1570492702231  95.0  11.0   NaN
25473    WON  SMA-A42924  1570492733183  95.0  11.0   NaN
25474    WON  SMA-A42924  1570492763781  95.0  11.0   NaN
25475    WON  SMA-A42924  1570492794807  95.0  11.0   NaN

[25476 rows x 6 columns]

In [35]:
# Show the column types.
df.dtypes

app_id     object
dev_id     object
time        int64
hum       float64
temp      float64
fail      float64
dtype: object

In [38]:
# Show basic statistics for the data in numeric columns.
df.describe()

               time           hum          temp  fail
count  2.547600e+04  25472.000000  25472.000000   4.0
mean   1.569690e+12     64.930865     17.667557   1.0
std    6.749473e+08     12.128270      6.555115   0.0
min    1.568737e+12     44.000000      5.000000   1.0
25%    1.569083e+12     55.000000     11.000000   1.0
50%    1.569279e+12     61.000000     22.000000   1.0
75%    1.570414e+12     75.000000     23.000000   1.0
max    1.570610e+12     99.000000    255.000000   1.0